services:
  mariadb:
    image: mariadb:latest
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DATABASE_NAME}
      MARIADB_USER: ${DB_USER_NAME}
      MARIADB_PASSWORD: ${DB_USER_PASSWORD}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 5s
      retries: 10

  phpMyAdmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8080:80"
    environment:
      PMA_HOST: ${DB_HOST}
      PMA_PORT: ${DB_PORT}
      PMA_USER: ${DB_USER_NAME}
      PMA_PASSWORD: ${DB_USER_PASSWORD}
    depends_on:
      mariadb:
        condition: service_healthy

  migrate:
    image: arigaio/atlas:latest
    volumes:
      - ./atlas.hcl:/etc/atlas/atlas.hcl
      - ./migrations:/migrations 
    command: >
      migrate apply
      --url "mysql://${DB_USER_NAME}:${DB_USER_PASSWORD}@${DB_HOST}:${DB_PORT}/${DATABASE_NAME}"
      --dir "file:///migrations"
    depends_on:
      mariadb:
        condition: service_healthy